    html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
    }


    body
		{
		   background-color: #FFFFFF;
		   color: #000000;
		   font-family: Arial;
		   font-size: 13px;
		   margin: 0;
		   padding: 0;
        }
        

        #conteneur {width:100%; margin:0 auto;}
		#header {background-color: #FFD700;width:100%;}
		#footer {background-color: #FFD700;width:100%;}
		#sidebar {position:absolute;background-color: #C7C7C7;width:230px;}
		#contenu {margin-left:230px;}
		#mapid { height: 800px; }

		#Combobox1
		{
		   border: 1px #A9A9A9 solid;
		   background-color: #FFFFFF;
		   color: #000000;
		   font-family: Arial;
		   font-size: 13px;
		}

		#message
		{
		   border: 0px #A9A9A9 solid;
		   background-color: #FFD700;
		   font-family: Arial;
		   font-size: 13px;
		}